.slider__radio-button {
  width: 0;
  height: 0;
}

.slider__controls {
  display: flex;
}

.slider__control-area {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.2rem;
  height: 2.2rem;
  cursor: pointer;
}

.slider__control-button {
  display: flex;
  width: 0.8rem;
  height: 0.8rem;
  border: 0.1rem solid #000000;
  border-radius: 100%;
}

.slider__control-area:hover .slider__control-button {
  background-color: aqua;
}

.slider__control-area:active .slider__control-button {
  background-color: blue;
}

input:nth-of-type(1):checked ~ .slider__controls label:nth-of-type(1) .slider__control-button,
input:nth-of-type(2):checked ~ .slider__controls label:nth-of-type(2) .slider__control-button,
input:nth-of-type(3):checked ~ .slider__controls label:nth-of-type(3) .slider__control-button,
input:nth-of-type(4):checked ~ .slider__controls label:nth-of-type(4) .slider__control-button {
  background-color: crimson;
}